*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper
{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;

    font-family: sans-serif;
}

.item_container
{
    border-radius: 10px;
    border: 3px solid grey;
    padding: 20px;
}

.flex_container
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.title
{
    font-size: 24px;
    font-weight: 700;
}

.remove_btn
{
    padding: 5px;
    cursor: pointer;
}

.text
{
    font-size: 16px;
    font-weight: 600;
}