*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: sans-serif;
}

.container
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.click-btn
{
    width: 250px;
    height: 100px;

    font-size: 26px;
    font-weight: 600;
}

.click-btn:hover
{
    cursor: pointer;
}