*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
}

 .btn-register {
     background-color: #2744ae;
     color: white;
     border: none;
     padding: 12px 24px;
     font-size: 24px;
     border-radius: 5px;
     cursor: pointer;
     transition: background-color 0.3s;
     font-weight: 500;

     margin: 50px;
 }

 .btn-register:hover {
     background-color: #227b99;
 }